---
import { SITE_TITLE } from '../consts';
---

<header>
  <a href="/" class="site-title">{SITE_TITLE}</a>
  <nav>
    <a href="/blog">文章</a>
    <a href="/about">关于</a>
    <a href="/rss.xml">RSS</a>
  </nav>
</header>